
@{
                /**/

                ViewBag.Title = "Reportes";
                Layout = "~/Views/Shared/_Perfil.cshtml";
}

<h1 class="jumbotron" style="padding-left:450px;">Reportes</h1>

<div>
    <div id="reporte1" class="col-md-4">
        @Html.Label("Gastos por monto")

        <a href='@Url.Action("GastosPorMonto", "Perfil")'>
            <img src="~/images/Reporte I.png" />
        </a>

    </div>

    <div id="reporte2" class="col-md-4">
        @Html.Label("Control de gastos")
        <img src="~/images/Reporte I.png" />
    </div>

    <div id="reporte3" class="col-md-4">
        @Html.Label("Ahorro")<br />
        <img src="~/images/Reporte I.png" />
    </div>

</div>