@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->
<div class="jumbotron">
    <p>
        OinkCash es un sistema que ayuda a la administración y el registro de los gastos personales.<br />
        <br />
        Para esto podrá crear registros contables, que se inician con un monto determinado por usted y
        luego podrá realizar egresos o ingresos de dinero en su registro.
        Por ejemplo cuando realice un gasto sera un egreso. Estos registros los llamamos Cuentas.<br />
        <br />
        Mediante la creación de Cuentas, podrá controlar los gastos y ahorros de un periodo con facilidad,
        revisando de manera simple mediante el uso de Límites (generaran avisos cuando este próximo a ellos)
        o Reportes (información detallada de sus movimientos de dinero).<br />
        
    </p>

    <p>
        Participantes del proyecto:<br />
        <br />
        Nicolás Ignacio Reyes Urrutia<br />
        GitHub: Niru1990<br />

        Martín Perez GitHub:<br />
        PerezMS<br />

        Matias Rodriguez<br />
        GitHub: MatiasRodriguez

    </p>
</div>